gradio
requests
youtube-transcript-api
chromadb
langchain-openai
openpyxl
pandas
langchain-community
langchain-core
langchain
python-dotenv
sentence-transformers
assemblyai
rizaio
gradio[oauth]
hf_xet
wikipedia
openai-whisper
ffmpeg
tabulate
langgraph
smolagents
pydantic